.active {
    background-color: blue;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
}
nav .title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 0 .5rem;
    padding: .5rem;
    border-radius: .5rem;
    /* display: none; */
}

nav ul li a:hover{
    background-color: darkblue;
}

nav .menu{
    position: absolute;
    top: .75rem;
    right: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: none;
}
nav .menu .bars{
    font-size: 2rem;
    color: white;
    width: 100%;
    /* background-color: blue; */
    border-radius: .2rem;
}

@media (max-width:700px) {
    nav .menu{
        display: flex;
        transition: all .3s linear;
    }
    nav .menu:hover{
        transform: rotate(90deg);
    }
    nav{
        flex-direction: column;
        align-items: start;
    }
    nav ul{
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        margin-bottom: .25rem;
        max-height: 0;
        transition: all .3s linear;
    }
    nav ul.open{
        max-height: 20rem;
    }
    nav ul li {
        width: 100%;
        text-align: center;
    }
    nav ul li a{
        margin: .2rem .5rem;
    }
    

}