.product-container{
    width: 90%;
    height: 80vh;
    color: white;
    background-color: black;
    border: solid .1rem rgb(var(--active-color));
    display: flex;
    overflow: hidden;
}
.product-container .image-container{
    height: 100%;
    background-color: rgb(68, 64, 64);
    width: 50%;
    display: flex;
    overflow: hidden;
    border-right: solid .1rem rgb(var(--active-color));
}

.product-container  img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-container .text-data-container {
    width: 50%;
    overflow: scroll;
}