 
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    color: white;
    background-image: url(./../assets/Hero-Banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-button{
    position: relative;
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.8em 1.6em 0.9em;
    border: none;
    background-color: #33312e;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color:  rgb(var(--active-color));
    text-shadow: 0 0 .5px;
    box-shadow: inset 0.1em -0.2em 0 4px #1d1b1b, inset -0.1em -0.2em 0 4px #1d1b1b, inset 0.08em -0.18em 0 5px #1d1b1b, inset -0.08em -0.18em 0 5px #1d1b1b, 0 0 4rem 0.5rem rgba(0,0,139, 0.5);
    border-radius: 0.3rem;
    overflow: hidden;
    transition: all 90ms ease-in-out;
  }

   .about .hero-button{
    position: relative;
    display: block;
    width: 20%;
    margin: 0.5rem 0;
    padding: 0.8em 1.6em 0.9em;
    border: none;
    background-color: #33312e;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color:  rgb(var(--active-color));
    text-shadow: 0 0 .5px;
    box-shadow: inset 0.1em -0.2em 0 4px #1d1b1b, inset -0.1em -0.2em 0 4px #1d1b1b, inset 0.08em -0.18em 0 5px #1d1b1b, inset -0.08em -0.18em 0 5px #1d1b1b, 0 0 1rem 0.5rem rgba(0,0,139, 0.5);
    border-radius: 0.3rem;
    overflow: hidden;
    transition: all 90ms ease-in-out;
  }

.hero-button:active{
    padding: 0.9em 1.6em 0.8em;
    box-shadow: inset 0.05em -0.15em 0 4px #1d1b1b, inset -0.05em -0.15em 0 4px #1d1b1b, inset 0.03em -0.13em 0 5px #1d1b1b, inset -0.03em -0.13em 0 5px #1d1b1b,  0 0em .1rem .1rem rgba(var(--active-color), 0.2);
    outline: none;

}

a{
    text-decoration: none;
}
/* .about{
    background-color:white;
    margin:10px;
    padding: 20px;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.review-card{
    background-color: white;
    margin:10px;
    padding: 20px;
}
/* main{
    padding: 0;
} */